
<div class="title">
        <h1 id="buckFont">My Favorites</h1>
    </div>

<div class="row">
    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f5.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">African Flower</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f6.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Checkered Dress</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f7.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Buckaroo Shirt</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f8.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Lil Black Dress</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/photo2.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Sol ish</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/photo1.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Rojo Loco</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/photo3.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Clean Jean</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/photo4.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Polka Chu</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f13.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Bougie</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f14.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Blackness</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f15.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Chris Cross</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f16.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Bo bo</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f9.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Too Grown</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f10.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Prom & Circumstance</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f11.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Rompher</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="/images/lilfoto/f12.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="#">Outdoor Robe</a></h2>
            <span class="product-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
            <span class="product-card-price">$9.99</span>
        </div>
    </div>
</div>