
    <div class="title">
        <h1 id="buckFont">Women</h1>
    </div>
    
        <div class="large-3 columns">
            <div class="card card-product">
                <div class="card-product-img-wrapper">
                    <a class="button expanded">Add to Cart</a>
                    <a href="#"><img src="/images/Womens_Black_Dress.jpeg"></a>
                </div>
                <div class="card-section">
                    <a href="#"><h3 class="card-product-name">So Sparkly</h3></a>
                    <h5 class="card-product-price">$20.00</h5>
                    <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
                </div>
            </div>
        </div>

        <div class="large-3 columns">
            <div class="card card-product">
                <div class="card-product-img-wrapper">
                    <a class="button expanded">Add to Cart</a>
                    <a href="#"><img src="/images/Womens_Black_Formal_Dress.jpeg"></a>
                </div>
                <div class="card-section">

                    <a href="#"><h3 class="card-product-name">Formal Dress</h3></a>

                    <h5 class="card-product-price">$20.00</h5>
                    <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
                </div>
            </div>
        </div>

        <div class="large-3 columns">
            <div class="card card-product">
                <div class="card-product-img-wrapper">
                    <a class="button expanded">Add to Cart</a>
                    <a href="#"><img src="/images/Womens_Cocktail_Dress.jpeg"></a>
                </div>
                <div class="card-section">
                    <a href="#"><h3 class="card-product-name">Cocktail</h3></a>
                    <h5 class="card-product-price">$20.00</h5>
                    <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
                </div>
            </div>
        </div>

        <div class="large-3 columns">
            <div class="card card-product">
                <div class="card-product-img-wrapper">
                    <a class="button expanded">Add to Cart</a>
                    <a href="#"><img src="/images/Womens_Black_Lace_Dress.jpeg"></a>
                </div>
                <div class="card-section">
                    <a href="#"><h3 class="card-product-name">Lace</h3></a>
                    <h5 class="card-product-price">$20.00</h5>
                    <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
                </div>
            </div>
        </div>


        <div class="large-3 columns">
            <div class="card card-product">
                <div class="card-product-img-wrapper">
                    <a class="button expanded">Add to Cart</a>
                    <a href="#"><img src="/images/Womens_Blue_Floral_Dress.jpeg"></a>
                </div>
                <div class="card-section">
                    <a href="#"><h3 class="card-product-name">Flower Power</h3></a>
                    <h5 class="card-product-price">$20.00</h5>
                    <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
                </div>
            </div>
        </div>

        <div class="large-3 columns">
            <div class="card card-product">
                <div class="card-product-img-wrapper">
                    <a class="button expanded">Add to Cart</a>
                    <a href="#"><img src="/images/Womens_Pink_Floral_Dress.jpeg"></a>
                </div>
                <div class="card-section">
                    <a href="#"><h3 class="card-product-name">Think Pink</h3></a>
                    <h5 class="card-product-price">$20.00</h5>
                    <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
                </div>
            </div>
        </div>

        <div class="large-3 columns">
            <div class="card card-product">
                <div class="card-product-img-wrapper">
                    <a class="button expanded">Add to Cart</a>
                    <a href="#"><img src="/images/Womens_Tan_Dress.jpeg"></a>
                </div>
                <div class="card-section">
                    <a href="#"><h3 class="card-product-name">Tan Dress</h3></a>
                    <h5 class="card-product-price">$20.00</h5>
                    <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
                </div>
            </div>
        </div>

        <div class="large-3 columns">
            <div class="card card-product">
                <div class="card-product-img-wrapper">
                    <a class="button expanded">Add to Cart</a>
                    <a href="#"><img src="/images/Womens_White_Floral_Dress.jpeg"></a>
                </div>
                <div class="card-section">
                    <a href="#"><h3 class="card-product-name">Nosey Rosey</h3></a>
                    <h5 class="card-product-price">$20.00</h5>
                    <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
                </div>
            </div>
        </div>